
= form_tag @search, class: 'navbar-form navbar-left', role: 'search' do
  %div{ class: 'form-group' }
    %input.form-control{ name: :search, type: 'text' }
  %button{ type: 'submit', class: 'btn btn-default' }
    search